@media only screen and (max-width: 768px) {
    
    .body {
        width: 768px;
    }
    
    .header {
        width: 768px;
    }
    
    .news {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 768px;
        grid-template-columns: 768px;
    }
    
    .news-left {
        height: 400px;
    }
    
    .news-right {
        height: 343px;
    }
    
    .news-left-container {
        width: 608px;
    }
    
    .news-underline {
        width: 600px;
        margin-top: 29px;
    }
    
    .news-text-title {
        margin-top: 36px;
        margin-bottom: 9px;
    }
    
    .news-right {
        display: -ms-grid;
        display: grid;
    }
    
    .news-right-container {
        width: 608px;
        height: 223px;
        display: -ms-grid;
        display: grid;
            grid-template-areas: 
        "title title"
        "travel technology";
        gap: 40px;
    }
    
    .news-right-title {
        grid-area: title;
        margin: 0px;
    }
    
    .travel {
        grid-area: travel;
    }
    
    .technology {
        grid-area: technology;
    }
    
    .sec2-container {
        width: 768px;
        height: 1814px;
    }
    
    .sec2 {
        top: 40px;
        left: 80px;
        bottom: 80px;
        right: 80px;
        width: 608px;
    }
    
    .trending {
        width: 522px;
        height: 22px;
    }
    
    .brackets2 {
        margin-left: 34px;
    }
    
    .trending-grid {
        width: 608px;
        height: 350px;
        -ms-grid-columns: (284px)[2];
        grid-template-columns: repeat(2,284px);
    }
    
    .trending3 {
        display: none;
        pointer-events: none;
        -webkit-transform: translate(250%,0%);
            -ms-transform: translate(250%,0%);
                transform: translate(250%,0%);
    }
    
    .trending-image {
        width: 284px;
    }
    
    .trending-heading {
        width: 204px;
    }
    
    .trending-paragraph {
        width: 204px;
    }
    
    .happening-grid {
        width: 608px;
        height: 1182px;
        -ms-grid-columns: 608px;
        grid-template-columns: 608px;
        row-gap: 40px;
    }
    
    .happening-right {
        -ms-grid-columns: 284px 40px 284px;
        grid-template-columns: repeat(2,284px);
        -webkit-column-gap: 40px;
           -moz-column-gap: 40px;
                column-gap: 40px;
        row-gap: 0px;
    }
    
    .happening-left-header {
        width: 528px;
    }
    
    .happening-left-article {
        width: 528px;
        height: 107px;
        -ms-grid-rows: 24px 47px;
        grid-template-rows: 24px 47px;
    }
    
    .happening-left-article-text {
        margin: 0px;
    }
    
    .image1 {
        width: 608px;
        height: 430px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    
    .image2 {
        width: 284px;
        height: 180px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    
    .happening-right-header {
        top: 200px;
    }
    
    .happening-right-time-ago {
        top: 226px;
    }
    
    .container3 {
        display: none;
    }
    
    .size {
        width: 768px;
    }
    
    .footer {
        width: 768px;
        height: 316px;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    }
    
    .footer-right {
        margin-top: -70px;
    }
    
    .left-container {
        width: 570px;
    }
    
    
    .links-grid {
        row-gap: 10px;
        width: 250px;
    }
    
    .footer-right {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .right-container {
        width: 608px;
        height: 66px;
    }
    
    .email.grid {
        width: 280px;
        height: 64px;
        margin-left: 0px;
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
    
    .email-text {
        height: 10px;
    }
    
    .social-links {
        margin-left: 190px;
        width: 136px;
        -ms-flex-item-align: end;
            align-self: flex-end;
    }
    }
    
@media only screen and (max-width: 768px) {
    
    .news-right-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    
    .travel {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    
    .technology {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
}
       

/* @media only screen and (max-width: 768px) {
    
.body {
    width: 768px;
}

.header {
    width: 768px;
}

.news {
    display: grid;
    grid-template-columns: 768px;
}

.news-left {
    height: 400px;
}

.news-right {
    height: 343px;
}

.news-left-container {
    width: 608px;
}

.news-underline {
    width: 600px;
    margin-top: 29px;
}

.news-text-title {
    margin-top: 36px;
    margin-bottom: 9px;
}

.news-right {
    display: grid;
}

.news-right-container {
    width: 608px;
    height: 223px;
    display: grid;
    grid-template-areas: 
    "title title"
    "travel technology";
    gap: 40px;
}

.news-right-title {
    grid-area: title;
    margin: 0px;
}

.travel {
    grid-area: travel;
}

.technology {
    grid-area: technology;
}

.sec2-container {
    width: 768px;
    height: 1814px;
}

.sec2 {
    top: 40px;
    left: 80px;
    bottom: 80px;
    right: 80px;
    width: 608px;
}

.trending {
    width: 522px;
    height: 22px;
}

.brackets2 {
    margin-left: 34px;
}

.trending-grid {
    width: 608px;
    height: 350px;
    grid-template-columns: repeat(2,284px);
}

.trending3 {
    display: none;
    pointer-events: none;
    transform: translate(250%,0%);
}

.trending-image {
    width: 284px;
}

.trending-heading {
    width: 204px;
}

.trending-paragraph {
    width: 204px;
}

.happening-grid {
    width: 608px;
    height: 1182px;
    grid-template-columns: 608px;
    row-gap: 40px;
}

.happening-right {
    grid-template-columns: repeat(2,284px);
    column-gap: 40px;
    row-gap: 0px;
}

.happening-left-header {
    width: 528px;
}

.happening-left-article {
    width: 528px;
    height: 107px;
    grid-template-rows: 24px 47px;
}

.happening-left-article-text {
    margin: 0px;
}

.image1 {
    width: 608px;
    height: 430px;
    object-fit: cover;
}

.image2 {
    width: 284px;
    height: 180px;
    object-fit: cover;
}

.happening-right-header {
    top: 200px;
}

.happening-right-time-ago {
    top: 226px;
}

.container3 {
    display: none;
}

.size {
    width: 768px;
}

.footer {
    width: 768px;
    height: 316px;
    grid-template-columns: 100%;
}

.footer-right {
    margin-top: -70px;
}

.left-container {
    width: 570px;
}


.links-grid {
    row-gap: 10px;
    width: 250px;
}

.footer-right {
    justify-content: center;
}

.right-container {
    width: 608px;
    height: 66px;
}

.email.grid {
    width: 280px;
    height: 64px;
    margin-left: 0px;
    align-self: flex-start;
}

.email-text {
    height: 10px;
}

.social-links {
    margin-left: 190px;
    width: 136px;
    align-self: flex-end;
}
}
     */